.box{
  border: 1px solid black;
  width: 300px;
}

.item-img{
  width: 200px;
}

.main{
  display: flex;
  justify-content: center;
}

.win{
  border: 1px solid blue;
  color: blue;
}

.lose{
  border: 1px solid red;
  color: red;
}

.tie{
  border: 1px solid yellowgreen;
  color: yellowgreen;
}